*{

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}
body,html{
  background:url(assets/freedom.jpg) no-repeat center;
  background-size:cover;
  width:100%;
  height:100vh;
  line-height: 1.5;
  
}
div{
  width:90%;
  text-align:center;
    margin:0 auto;
  padding-top:5rem;
}

.main-text{
  font-family:'Julius Sans One', sans-serif;
  font-size:2.5rem;
  padding-top:1.5rem;
}
.from{
  padding-top:2.8rem;
  font-family: 'Crimson Text', sans-serif;
  font-size:1.25rem;
  font-style: italic;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}